<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <link href="{{STATIC_URL}}blog/blog.css" rel="stylesheet" style="text/css">
    <script type="text/javascript" src="{{ STATIC_URL }}blog/blog.js"></script>
    <title>My blog</title>
  </head> 
  <body>
    <div id="wrapper">
    <header>Blog</header>
    <nav>
      <ul>
	<li>
	  <a href="{% url 'blogapp:index' %}"  id="home_page">
	   Home Page {{ abc }}
	  </a>
	</li>
	<li>
	  <a href="{% url 'blogapp:index' %}" id="picture">
	    Picture
	  </a>
	</li>
	<li>
	  <a href="{% url 'blogapp:index' %}" id="video">
	    Video
	  </a>
	</li>
	<li>
	  <a href="{% url 'blogapp:index' %}"id="car">
	    Car
	  </a>
	</li>
	<li>
	  <a href="{% url 'blogapp:mysubmit' %}" id="my_submit" onclick="loadMysubmit();">
	    My Submit
	  </a>
	</li>
      </ul>
    </nav>
      <section>
	<form method="post" action="{% url 'blogapp:mysubmit' %}">
	  {% csrf_token %}
	  

	  <p><label id="title-label">Title:</label><input id="title-box"type="text" name="title" placeholder="TR Title" required></p>
	  
	  
	  <p>
	    <label id="test-type-label">Test Type: </label>
	    <select id="test-type-box" name="test_type" >
	      <option value="function-test" selected>Function Test</option>
	      <option value="system-test" >System Test</option>
	      <option value="unite-test" >Unite Test</option>
	    </select>
	  </p>
	  
	  
	  <p>
	    <textarea name="content" placeholder="Enter Content" rows=5 cols=50 required>
            </textarea></br>
          </p>
	<input type="submit" value="Add Post">
	
	</form>

      </section>
    </div>
  </body>
</html>
