<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <link href="{{STATIC_URL}}blog/blog.css" rel="stylesheet" styple="text/css">
    <title>My blog</title>
  </head> 
  <body>
    <div id="page-wrap">
    <div class="top">
      <header>Blongo</header>
    </div>

      <a href="http://127.0.0.1/blog/"  id="home">
	  <span class="shape-tab">Blog</span>
      </a>
      <a href="http://127.0.0.1/picture/" id="picture">
	<span class="shape-tab">Picture</span>
      </a>

      <a href="http://127.0.0.1/video/"  id="video">
	  <span class="shape-tab">Video</span>
      </a>
      
      <a href="http://127.0.0.1/car/"  id="car">
	<span class="shape-tab">Car</span>
      </a>
      
      <a href="http://127.0.0.1/video/"  id="desk">
	<span class="shape-tab">Desk</span>
      </a>
      
    <div class="content-wrap">            <!-- Cycle through entries -->
    {% for post in Posts %}
      <h2> {{ post.title }} </h2>
      <p>{{ post.last_update }}</p>
      <p>{{ post.content }}</p>
      <form method="get" action="http://127.0.0.1:80/blog/update">
        <input type="hidden" name="id" value="{{ post.id }}">
        <input type="hidden" name="title" value="{{ post.title }}">
        <input type="hidden" name="last_update" value="{{ post.last_update }}">
        <input type="hidden" name="content" value="{{ post.content }}">
        <input type="submit" name="" value="update">
      </form>
      <form method="get" action="http://127.0.0.1:80/blog/delete">
        <input type="hidden" name="id" value="{{post.id}}">
        <input type="submit" value="delete">
      </form>
    {% endfor %}
    </div>


    </div>
  </body>
</html>
