<head>
  <style type="text/css">
   h1 {
        color:blue;
        font-weight:strong;



   }
  </style>
  <script type="text/javascript" src="{{ STATIC_URL }}/cookie.js"></script>
  <script type="text/javascript">
    function saveContent(){
        eraseCookie("SFcode_content");
        var content;
        content = document.getElementById("txt1").value;
//        alert("init content:"+ content);
        if (navigator.cookieEnabled){
            content = content.replace(/\r\n|\r|\n/g,'magic',1);
//            alert("content:\r" + content);
            writeCookie("SFcode_content", content, 5 * 365);
       }
        else
            alert("Cookie is not enabled");
}    

    function recoverContent(){
        var content;  
        if (navigator.cookieEnabled){
            //alert("Cookie is ok");
            content = readCookie("SFcode_content");
            content = content.replace(/magic/g,'\r\n',1);
        }
        else
            alert("Cookie is not enabled");
//        alert("show content:\n" + content);
        document.getElementById("txt1").value = content;
}

  </script>
  
</head>
<body onload = "recoverContent()";>



<pre>
</br>
<p>
     {{ network_element }}    
     {% for line in times %}
     {{ final_line }}{% endfor %}{% for signal in final_arrow_line %}
     {{ signal }}{% endfor %}

Arrow_line:
     {{ a }}
     {{ b }}
     {{ c }}
     {{ d }}

</p>

</pre>
 </br>
 </br>
 <p>
   Signal:</br>
   {% for i in signal %}
   {{ i }}
   {% endfor %}
 </p>


 <p>Message:</br>
 {{ message }}


 </p>
 </br>
 </br>
 <h1> sgnal_flow_code:
 </br>
 {% for item in signal_flow %}
 {{ item }}
 {% endfor %}
 <form action="{% url 'flow_drawer:index' %}" method="post">

 {% csrf_token %}
 <textarea class=saveHistory  id='txt1' name="signal_flow_code" style="width: 100%; height:300px"></textarea>
 <input type="submit" value="SF Code -> SF" onclick="saveContent();"/>
 </form>

 </body>
